<header id="top-header">
    <div class="siteName">
        <p id="header">CSE Motors</p>
        <a href="/" title="Return to home page">CSE Motors</a>
    </div>
    <div id="tools">
        <% if(!locals.loggedin) {%>
            <span class="accountLink">
                <a id="myAccount" href="/client/login">My Account</a>
            </span>
        <% } else { %>
            <span class="accountLink"><a href="/client/logout">Logout</a></span>
        <% } %>
    </div>
</header>