<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to home page">
            <img src="/images/site/logo.png" alt="cse motors logo">
        </a>
    </span>

    <div id="tools">
        <span class="accountLink">
            <a href="/client/login">My Account</a>
        </span>
    </div>
</header>