<header id="top-header">
    <div class="siteName">
        <p id="header">CSE Motors</p>
        <a href="/" title="Return to home page">
            <img id="logo" src="/images/site/logo.png" alt="cse motors logo">
        </a>
    </div>
    <div id="tools">
        <span class="accountLink">
            <a id="myAccount" href="/client/login">My Account</a>
        </span>
    </div>
</header>