<div id="main-container">
    <h1>Welcome to CSE Motors</h1>
    <div id="hero-container">
        <div id="floater">
            <h3>DMC Delorean</h3>
            <p>3 Cup holders 
                Superman doors
                Fuzzy dice!
            </p>
            <button id="button">Own Today!</button>
        </div>
        <img id="hero" src="/images/vehicles/delorean.jpg" alt="image of a car">
    </div>
    <div class="details-container">
        <div class="upgrade-container">
            <h2>Delorean Upgrades</h2>
            <br>
            <div class="upgrade">
                <img src="/images/upgrades/flux-cap.png" alt="flux cap image">
                <br>
                <a href="">Flex Capacitor</a>
            </div>
            <div class="upgrade">
                <img src="/images/upgrades/flame.jpg" alt="image of flames">
                <br>
                <a href="">Flame Decals</a>
            </div>
            <div class="upgrade">
                
                <img src="/images/upgrades/bumper_sticker.jpg" alt="image of a bumper sticker">
                <br>
                <a href="">Bumper Stickers</a>
            </div>
            <div class="upgrade">

                <img src="/images/upgrades/hub-cap.jpg" alt="image of a hubcap">
                <br>
                <a href="">Hub Caps</a>
            </div>
        </div>
        <div class="reviews">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride of the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>
    </div>
</div>