/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
#header{
  display: none;
}
.reviews li{
  padding: 15px;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 30px;
}
.upgrade-title{
  font-size: 20px;
}
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "&#10004;";
}
.formbtn{
  margin-top: 10px;
  border: none;
  box-shadow: #000;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "&#10006;";
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 5px;
  border-color: rgb(0, 113, 199);
}
a{
  text-decoration: none;
  color: #000000;
}
nav{
  background-color: white;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 5px;
  border-color: rgb(0, 113, 199);
}
nav ul{
  display: flex;
  justify-content: space-around;
  background-color: rgb(0, 113, 199);
  color: white;
  padding: 10px;
}
nav li{
  list-style-type: none;
}
main, footer{
  background-color: white;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 5px;
  border-color: rgb(0, 113, 199);
}
footer{
  border-bottom-style: solid;
  border-width: 5px;
  border-color: rgb(0, 113, 199);
}
body{
  background-image: url("/images/site/checkerboard.jpg");
  font-family: "Raleway", sans-serif;
}
.vehicleContainer{
  display: flex;
}
.details-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.upgrade-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.upgrade-container h2{
  grid-column: 1/2;
}
.upgrade{
  display: block;
  border: #000000 solid;
  background-color: rgb(0, 113, 199);
  text-align: center;
}
.upgrade a{
  color: white;
}
#floater{
  width: 40%;
  background-color: rgb(255, 255, 255, 0.7);
  color: rgb(0, 113, 199);
  padding: 10px;
  position: absolute;
  top: 80px;
  font-size: 20px;
  font-weight: bolder;
}
button{
  padding: 20px;
  width: 100%;
  background-color: rgb(0, 113, 199);
  color: white;
}
div .image img{
 width: 100%;
 padding: 10px;
}
div .details{
  text-align: right;
  width: 50%;
}
#hero-container{
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#hero{
  width: 100%;
}
.clientForm form{
  padding: 25px;
  width: 65%;
  margin: 0 auto;
}
.clientForm input{
  font-size: 30px;
  background-color:rgb(0, 113, 199);
  border: none;
  color: white;
  width: 100%;
}
.clientForm ::placeholder{
  color: rgb(204, 203, 203);
}
#signupbtn{
  width: 200px;
  border: none;
}
@media screen and (max-width: 480px) {
  body{
    background-image: none;
  }
  #header{
    display: block;
  }
  #logo{
    display: none;
  }
  #myAccount{
    font-size: 20px;
  }
  header{
    border: none;
    padding: 0px;
  }
  main{
    width: 100%;
    border: none;
  }
  #floater{
    position: absolute;
    width: 45%;
    top: 0px;
    padding: 0px;
    font-size: 14px;
  }
  #hero-container{
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .details-container{
    display: block;
  }
  div .image img{
    width: 100%;
  }
  nav{
    width: 100%;
    background-color: rgb(67, 67, 67);
    border: none;
  }
  footer{
    border: none;
    width: 100%;
  }

}