 <% if (title) { %>
    <h1><%= title %></h1>
    <% } else {} %>

<% if (message) { %>
    <p class="notice"><%= message %></p>
    <% } %>

<div>
    <p>All fields are required</p>
    <fieldset>
        <form action="/inv/add-vehicle" method="post">
            <label for="classification">Classification</label>
            <select name="classification_name" id="classification_name">
                
            </select>
            <br>
            <label for="make">Make</label>
            <br>
            <input name="inv_make" type="text" id="make">
            <br>
            <label for="model">Model</label>
            <br>
            <input name="inv_model" type="text" id="model">
            <br>
            <label for="description">Description</label>
            <br>
            <input name="inv_description" type="text" id="description">
            <br>
            <label for="image">Image Path</label>
            <br>
            <input name="inv_image" id="image" type="text" placeholder="/image/vehicles/no-image.png">
            <br>
            <label for="thumbnail">Thumbnail Path</label>
            <br>
            <input name="inv_thumbnail" id="thumbnail" type="text" placeholder="/images/vehicles/no-image.png">
            <br>
            <label for="price">Price</label>
            <br>
            <input name="inv_price" type="text" id="price">
            <br>
            <label for="year">Year</label>
            <br>
            <input name="inv_year" type="text" id="year">
            <br>
            <label for="miles">Miles</label>
            <br>
            <input name="inv_miles" type="text" id="miles">
            <br>
            <label for="color">Color</label>
            <br>
            <input name="inv_color" type="text" id="color">
            <br>
            <button type="submit">Add Vehicle</button>
        </form>
    </fieldset>
</div>