<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect("/")} %>

<% if (message) { %>
    <p class="notice"><%= message %></p>
    <% } %>

<div class="clientForm">
  <form action="/client/login" method="post">
    <label for="username">Username:</label>
    <br>
    <input name="client_username" require type="text" id="username">
    <br>
    <label for="password">Password:</label>
    <br>
    <input name="client_password" require type="text" id="password">
    <br>
    <button type="submit" class="formbtn" href="/client/login">Login</button>
  </form>
</div>
<div>
  <h1>No account?</h1>
  <h3><a href="/client/register"><button id="signupbtn">Sign up Here!</button></a></h3>
</div>