<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect("/")} %>

<% if (message) { %>
    <p class="notice"><%= message %></p>
    <% } %>

<% if (error) { %>
    <p class="error"><%= error %></p>
    <% } %>

<div>
    <form id="registrationForm" action="/client/register" method="post">
        <label for="fname">First Name:</label>
        <br>
        <input required type="text" id="fname" placeholder="Jane">
        <label for="lname">Last Name:</label>
        <br>
        <input required type="text" id="lname" placeholder="Wilkinson">
        <label for="email">Email:</label>
        <br>
        <input required type="email" id="email" placeholder="abc@defg.com">
        <label for="address">Address:</label>
        <br>
        <input required type="text" id="address" 
        placeholder="1234 Street Dr. City, State ZIP code">
        <label for="password">Password:</label>
        <input required type="password" hidden id="password">
        <button type="submit" id="registerbtn">Register</button>
    </form>
</div>